<html lang="ru"
      xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${categoryResponse.modelType.name}"></title>
        <link th:href="@{/css/root.css}" rel="stylesheet">
        <link th:href="@{/css/category.css}" rel="stylesheet">
        <link th:href="@{/css/fragments/header.css}" rel="stylesheet">
        <link th:href="@{/css/fragments/price.css}" rel="stylesheet">
        <link th:href="@{/css/fragments/filter.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{fragments/header :: fragment-header (${role})}"></div>
        <div class="d-container">
            <div class="d-title-category">
                <p th:text="${categoryResponse.modelType.name}" class="p-title-category"></p>
            </div>
            <div class="d-filter-and-content">
                <div class="d-filter">
                    <p class="p-filter">Фильтр</p>
                    <form class="form-container" method="post" th:action="@{/catalog/{modelTypeNameEnglish}(modelTypeNameEnglish=${categoryResponse.modelType.nameEnglish})}"
                          th:object="${filter}">
                        <div class="d-filter-element">
                            <div class="d-filter-element-title">
                                <p class="p-filter-category-name">Цена, ₽</p>
                            </div>
                            <div class="d-filter-element-body">
                                <div class="d-filter-element-body-block">
                                    <div class="d-filter-element-body-block-row">
                                        <label>От</label>
                                    </div>
                                    <div class="d-filter-element-body-block-input">
                                        <input th:field="*{startPrice}" class="i-price" type="number" name="startPrice">
                                    </div>
                                </div>
                                <div class="d-filter-element-body-block">
                                    <div class="d-filter-element-body-block-row">
                                        <label>До</label>
                                    </div>
                                    <div class="d-filter-element-body-block-input">
                                        <input th:field="*{finalPrice}" class="i-price" type="number" name="finalPrice">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:each="filtrationCategory, iterator : *{filtrationCategories}" class="d-filter-element">
                            <div class="d-filter-element-title">
                                <p th:text="*{filtrationCategories[__${iterator.index}__].name}" class="p-filter-category-name"></p>
                                <input type="hidden" th:field="*{filtrationCategories[__${iterator.index}__].name}" />
                            </div>
                            <div class="d-filter-element-checkbox">
                                <div th:each="filtrationParameter, iterator1 : *{filtrationCategories[__${iterator.index}__].filtrationParameters}" class="div-checkbox-element">
                                    <input type="hidden" th:field="*{filtrationCategories[__${iterator.index}__].filtrationParameters[__${iterator1.index}__].id}" />
                                    <input type="hidden" th:field="*{filtrationCategories[__${iterator.index}__].filtrationParameters[__${iterator1.index}__].name}" />
                                    <input type="checkbox" name="filtrationParameters" th:value="*{filtrationCategories[__${iterator.index}__].filtrationParameters[__${iterator1.index}__].id}"
                                           th:field="*{filtrationCategories[__${iterator.index}__].filtrationParameters[__${iterator1.index}__].selected}"/>
                                    <label th:text="*{filtrationCategories[__${iterator.index}__].filtrationParameters[__${iterator1.index}__].name}"></label>
                                </div>
                            </div>
                        </div>
                        <button class="b-filter" type="submit">Применить</button>
                    </form>
                    <a th:href="@{/catalog/{modelTypeNameEnglish}(modelTypeNameEnglish=${categoryResponse.modelType.nameEnglish})}" class="a-reset">
                        Сбросить
                    </a>
                </div>
                <div th:if="${categoryResponse.modelsOfInventory.size() == 0}" class="d-content">
                    <p class="p-filter">По вашему запросу ничего не найдено</p>
                </div>
                <div th:if="${categoryResponse.modelsOfInventory.size() != 0}" class="d-content">
                    <div th:each="modelOfInventory : ${categoryResponse.modelsOfInventory}" class="d-model">
                        <div class="d-image">
                            <img class="img-model"
                                 th:src="@{../images/{modelTypeNameEnglish}/{imageTitle}(modelTypeNameEnglish=${categoryResponse.modelType.nameEnglish},imageTitle=${modelOfInventory.imageTitle})}"
                                 alt="image">
                        </div>
                        <div class="d-description">
                            <a th:href="@{/catalog/{modelTypeNameEnglish}/{id}(modelTypeNameEnglish=${categoryResponse.modelType.nameEnglish},
                                        id=${modelOfInventory.id})}"
                               th:text="${modelOfInventory.modelType.name} + ' ' +
                                        ${modelOfInventory.brand.name} + ' ' +
                                        ${modelOfInventory.title}"
                               class="a-header"></a>
                            <p th:text="${modelOfInventory.description}" class="p-description">
                            <p th:text="'Бренд: ' + ${modelOfInventory.brand.name}" class="p-description">
                            <p th:text="'Год: ' + ${modelOfInventory.year.name}" class="p-description">
                        </div>
                        <div th:replace="~{fragments/price :: fragment-price (${modelOfInventory})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


