<html lang="ru"
      xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${modelOfInventoryResponse.modelOfInventory.title}"></title>
        <link th:href="@{/css/root.css}" rel="stylesheet">
        <link th:href="@{/css/model.css}" rel="stylesheet">
        <link th:href="@{/css/fragments/header.css}" rel="stylesheet">
        <link th:href="@{/css/fragments/price.css}" rel="stylesheet">
        <link th:href="@{/css/fragments/addToCart.css}" rel="stylesheet">
    </head>
    <body>
        <div th:replace="~{fragments/header :: fragment-header (${role})}"></div>
        <div class="d-content">
            <div class="d-title">
                <p th:text="${modelOfInventoryResponse.modelOfInventory.modelType.name} + ' ' +
                            ${modelOfInventoryResponse.modelOfInventory.brand.name} + ' ' +
                            ${modelOfInventoryResponse.modelOfInventory.title}"
                class="p-title"></p>
            </div>
            <div class="d-image-params-price">
                <div class="d-image">
                    <img class="img-model"
                         th:src="@{../../images/{modelTypeNameEnglish}/{imageTitle}
                         (modelTypeNameEnglish=${modelOfInventoryResponse.modelOfInventory.modelType.nameEnglish},
                          imageTitle=${modelOfInventoryResponse.modelOfInventory.imageTitle})}"
                         alt="logo">
                </div>
                <div class="d-params-price">
                    <div class="d-params">
                        <div class="d-param">
                            <p class="p-parameter"> Бренд: </p>
                            <p th:text="${modelOfInventoryResponse.modelOfInventory.brand.name}" class="p-parameter"></p>
                        </div>
                        <hr class="hr">
                        <div class="d-param">
                            <p class="p-parameter"> Год: </p>
                            <p th:text="${modelOfInventoryResponse.modelOfInventory.year.name}" class="p-parameter"></p>
                        </div>
                        <hr class="hr">
                        <div th:each="modelAttributeValue : ${modelOfInventoryResponse.modelOfInventory.valuesOfModelAttribute}" class="d-param-hr">
                            <div class="d-param">
                                <p th:text="${modelAttributeValue.attribute.name} + ': '" class="p-parameter"></p>
                                <p th:if="${modelAttributeValue.attribute.attributeType.name == 'List'}"
                                   th:text="${modelAttributeValue.value.name}" class="p-parameter"></p>
                                <p th:if="${modelAttributeValue.attribute.attributeType.name == 'Number'}"
                                   th:text="${modelAttributeValue.simpleValue} + ' ' + ${modelAttributeValue.attribute.unitOfMeasure.name}"
                                   class="p-parameter"></p>
                            </div>
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="d-price-add-to-cart">
                        <div th:replace="~{fragments/price :: fragment-price (${modelOfInventoryResponse.modelOfInventory})}"></div>
                        <div th:replace="${role.name() != 'GUEST'} ? ~{fragments/addToCart :: fragment-addToCart (${role}, ${modelOfInventoryResponse})} : ~{}"></div>
                    </div>
                </div>
            </div>
            <div class="d-description-title">
                <p class="p-description-title"> Описание </p>
            </div>
            <hr class="hr-description">
            <div class="d-description">
                <p th:text="${modelOfInventoryResponse.modelOfInventory.description}" class="p-description">
            </div>
            <hr class="hr-description">
            <div th:if="${role.name() == 'ADMIN'}" class="d-admin-editing-block">
                <div class="d-admin-editing-block-price">
                    <form class="form-editing"  method="post"
                          th:action="@{/catalog/update/{modelId}/price (modelId=${modelOfInventoryResponse.modelOfInventory.id})}"
                          th:object="${modelOfInventoryResponse}">
                        <p class="p-parameter-edition">Цена:</p>
                        <input class="input-field-price" type="number" th:field="*{newPrice}" placeholder="Цена" min="1" step=".01" required>
                        <p class="p-parameter-edition-tail">руб.</p>
                        <button class="b-update" type="submit">Изменить</button>
                    </form>
                    <form class="form-editing"  method="post"
                          th:action="@{/catalog/update/{modelId}/discount (modelId=${modelOfInventoryResponse.modelOfInventory.id})}"
                          th:object="${modelOfInventoryResponse}">
                        <p class="p-parameter-edition">Скидка:</p>
                        <input class="input-field-price" type="number" th:field="*{newDiscount}" placeholder="Скидка" min="1" max="100" step="1" required>
                        <p class="p-parameter-edition-tail">%</p>
                        <button class="b-update" type="submit">Изменить</button>
                    </form>
               </div>
               <div th:if="${modelOfInventoryResponse.isPresentDynamicInventoryAttribute == true}" class="d-block-editing-quantity">
                  <div class="d-header-block-quantity">
                      <p th:text="${adminDynamicInventoryAttribute.attribute.name}" class="p-param-quantity-title"></p>
                      <p class="p-param-quantity-title">Количество</p>
                  </div>
                  <form class="form-quantity"  method="post"
                        th:action="@{/catalog/update/{modelId}/quantity (modelId=${modelOfInventoryResponse.modelOfInventory.id})}"
                        th:object="${adminDynamicInventoryAttribute}">
                      <input type="hidden" th:field="*{attribute}"/>
                      <div th:each="entry : *{values}" class="d-row-quantity">
                          <label class="p-param-quantity" th:text="${entry.key.name} + ' ' + ${adminDynamicInventoryAttribute.unitOfMeasure.name}"></label>
                          <input class="input-field-quantity" type="number" th:field="*{values[__${entry.key.id}__]}" placeholder="Количество" min="0" step="1" required>
                      </div>
                      <button class="b-update-quantity" type="submit">Обновить</button>
                  </form>
               </div>
                <div th:if="${modelOfInventoryResponse.isPresentDynamicInventoryAttribute == false}" class="d-block-editing-quantity">
                    <div class="d-header-block-quantity">
                        <p class="p-param-quantity-title">Количество</p>
                    </div>
                    <form class="form-quantity"  method="post"
                          th:action="@{/catalog/update/{modelId}/quantity (modelId=${modelOfInventoryResponse.modelOfInventory.id})}">
                        <div class="d-row-quantity">
                            <input class="input-field-quantity" type="number" th:value="${simpleModelQuantity}" name="simpleModelQuantity"  min="0" step="1" required>
                        </div>
                        <button class="b-update-quantity" type="submit">Обновить</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>


