:root {
    --icon-background-size: 40px;
    --icon-width-hight: 40px;
    --icon-cursor: pointer;
    --icon-border: none;
}

body{
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.34);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
}

.header{
    padding: 5px 10%;
    width: 80%;
    height: 70px;
    background-color: var(--blue-color-2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-logo-and-title{
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.container{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.title{
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px 20px 0px 20px;
}

.input-logo{
    background: url('../../images/icons/logo.png') no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-login{
    background: url('../../images/icons/login.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width-hight);
    height: var(--icon-width-hight);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-cart{
    background: url('../../images/icons/shopping_cart.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width-hight);
    height: var(--icon-width-hight);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-account{
    background: url('../../images/icons/account.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width-hight);
    height: var(--icon-width-hight);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-logout{
    background: url('../../images/icons/logout.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width-hight);
    height: var(--icon-width-hight);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.form-login{
    margin: 0px;
}

.cart_acc_logout{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}