.d-cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: var(--light-blue-grey-color);
    border-radius: var(--border-radius);
    padding: 10px;
    justify-content: center;
}

.d-inventory-in-cart{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.d-image{
    width: 150px;
    background-color: #FFFFFF;
    height: 190px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 30px 0 0;
}

.img-model{
    max-width:95%;
    max-height:95%;
}

.d-info-price-delete{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.d-info-price{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.d-delete{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.d-info{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.a-header{
    color: var(--dark-blue-color);
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.p-description{
    margin: 10px 0 5px 0;
    font-size: 16px;
}

.d-price{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.p-cart{
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-blue-color);
    margin: 0px 20px 20px 0;
}

.a-delete-from-cart{
    color: var(--dark-blue-color-active);
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.d-quantity{
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.form-add{
    margin: 0px;
}

.input-remove{
    background: var(--dark-blue-color) url(../../images/icons/remove_item.png) no-repeat center;
    background-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.input-add{
    background: var(--dark-blue-color) url(../../images/icons/add_item.png) no-repeat center;
    background-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}