:root {
    --icon-cart-x: 50px;
}

.d-container{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.d-title-cart{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.d-carts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-input-checkbox{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.b-to-payment{
    background-color: #6EBD52;
    width: 200px;
    border-radius: var(--border-radius-buttons);
    margin-top: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 29px;
    list-style: none;
    outline: none;
    padding: 3px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.p-empty-cart{
    font-size: 19px;
    color: var(--dark-blue-color-active);
    margin: 10px 0 10px 0;
    font-weight: 500;
}