.d-container{
    width: 80%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: start;
}

.d-modeltype{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color:  var(--light-blue-grey-color);
    margin: 10px;
    border-radius: var(--border-radius);
    padding: 7px;
}

.p-modeltype-name{
    color: var(--dark-blue-color);
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.d-category-name{
    height: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.d-new-model{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    align-content: end;
    width: 97%;
    height: 15%;
}

.a-new-model{
    background: var(--dark-blue-color) url(../images/icons/add_model.png) no-repeat center;
    background-size: 35px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}