:root {
    --icon-background-size: 40px;
    --icon-width: 40px;
    --icon-height: 40px;
    --icon-cursor: pointer;
    --icon-border: none;
    --border-radius: 15px;
}

body{
    margin: 0px;
    font-family: "Arial Unicode MS";
    background-color: rgba(255, 255, 255, 0.34);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
}

.header{
    padding: 5px 15%;
    width: 80%;
    height: 70px;
    background-color: #2C5E9E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-logo-and-title{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.img-logo{
    height: 60px;
}

.container{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.title{
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px 20px 0px 20px;
}

.input-login{
    background: url('../images/icons/login.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-cart{
    background: url('../images/icons/shopping_cart.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-account{
    background: url('../images/icons/account.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.input-logout{
    background: url('../images/icons/logout.png');
    background-size: var(--icon-background-size);
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: var(--icon-cursor);
    border: var(--icon-border);
}

.form-login{
    margin: 0px;
}

.cart_acc_logout{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}