.d-content{
    width: 70%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.p-title{
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-blue-color);
}

.d-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.d-image-params-price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.d-params-price{
    width: 65%;
    display: flex;
    flex-direction: row;
}

.d-params{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-param-hr{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.d-param{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.d-price{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.d-description-title{
    width: 130px;
    background-color: var(--blue-color-1);
    padding: 5px;
}

.hr-description{
    width: 100%;
    border: none;
    background-color: var(--blue-color-1);
    height: 2px;
    margin: 0;
}

.d-description{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.p-description-title{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    text-align: center;
}

.p-description{
    font-size: 20px;
}

.d-image{
    width: 30%;
    background-color: #FFFFFF;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-model{
    max-width:95%;
    max-height:95%;
}

.p-parameter{
    width: 50%;
    margin: 15px 0 5px 0;
    font-size: 20px;
}

.hr{
    width: 100%;
    border: none;
    background-color: var(--light-blue-grey-color);
    height: 2px;
    margin: 0;
}

.d-add-to-cart{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.d-price-add-to-cart{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}