.d-content{
    width: 70%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.p-title{
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-blue-color);
}

.d-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.d-image-params-price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.d-params-price{
    width: 65%;
    display: flex;
    flex-direction: row;
}

.d-params{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-param-hr{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.d-param{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.d-price{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.d-description-title{
    width: 130px;
    background-color: var(--blue-color-1);
    padding: 5px;
}

.hr-description{
    width: 100%;
    border: none;
    background-color: var(--blue-color-1);
    height: 2px;
    margin: 0;
}

.d-description{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.p-description-title{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    text-align: center;
}

.p-description{
    font-size: 20px;
}

.d-image{
    width: 30%;
    background-color: #FFFFFF;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-model{
    max-width:95%;
    max-height:95%;
}

.p-parameter{
    width: 50%;
    margin: 15px 0 5px 0;
    font-size: 20px;
}

.hr{
    width: 100%;
    border: none;
    background-color: var(--light-blue-grey-color);
    height: 2px;
    margin: 0;
}

.d-add-to-cart{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 10px;
}

.d-price-add-to-cart{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.d-admin-editing-block{
    width: 400px;
    margin: 20px 0 20px 0;
}

.d-admin-editing-block-price{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-editing{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-field-price{
    background-color: #fafafa;
    width: 120px;
    height: 30px;
    margin: 0 10px 0 0;
    padding-left: 15px;
    border-radius: var(--border-radius-buttons);
    border: 1px solid #6f8ec2;
    font-size: 20px;
    color: var(--dark-blue-color-active);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 18px;
    color: var(--light-blue-color-active);
}

.b-update{
    background-color: var(--blue-color-1);
    width: 120px;
    border-radius: var(--border-radius);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 29px;
    list-style: none;
    outline: none;
    padding: 3px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.p-parameter-edition{
    margin: 0;
    font-size: 20px;
    width: 90px;
}

.p-parameter-edition-tail{
    margin: 0;
    font-size: 20px;
    width: 40px;
}

.d-block-editing-quantity{
    width: 260px;
    display: flex;
    flex-direction: column;
}

.d-header-block-quantity{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--light-blue-grey-color);
    justify-content: space-evenly;
    height: 35px;
    align-items: center;
    margin: 20px 0 10px 0;
}

.form-quantity{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.d-row-quantity{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0 5px 0;
}

.hr-quantity{
    width: 100%;
    border: none;
    background-color: var(--light-blue-color);
    height: 2px;
    margin: 0;
}

.input-field-quantity{
    background-color: #fafafa;
    width: 80px;
    height: 30px;
    margin: 0 10px 0 0;
    padding-left: 15px;
    border-radius: var(--border-radius-buttons);
    border: 1px solid #6f8ec2;
    font-size: 20px;
    color: var(--dark-blue-color-active);
}

.p-param-quantity{
    margin: 0;
    font-size: 18px;
}

.p-param-quantity-title{
    margin: 0;
    font-size: 20px;
}

.b-update-quantity{
    background-color: var(--blue-color-2);
    width: 120px;
    border-radius: var(--border-radius);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 29px;
    list-style: none;
    outline: none;
    padding: 3px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 15px;
}