.d-container{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.d-title-payment{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.p-payment{
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-blue-color);
    margin: 0px 20px 20px 20px;
}

.form-personal-data{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue-grey-color);
    align-items: center;
    border-radius: var(--border-radius);
    padding: 20px 10px 20px 10px;
}

.input-field{
    background-color: #fafafa;
    margin-bottom: 8px;
    width: 400px;
    height: 40px;
    padding-left: 15px;
    border-radius: var(--border-radius-buttons);
    border: 1px solid #6f8ec2;
    font-size: 20px;
    color: var(--dark-blue-color-active);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 18px;
    color: var(--light-blue-color-active);
}

.d-selected-inventory{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.d-return-to-cart{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.p-return-to-cart{
    font-size: 19px;
    color: var(--dark-blue-color-active);
    margin: 10px 0 10px 0;
    font-weight: 500;
}

.b-confirm-payment{
    background-color: #6EBD52;
    width: 150px;
    border-radius: var(--border-radius-buttons);
    margin-top: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    height: 35px;
    list-style: none;
    outline: none;
    padding: 3px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.p-header{
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-blue-color);
    margin: 0 0 15px 0;
}

.d-result-price{
    display: flex;
    flex-direction: row;
}


/*CONFIRM.CSS*/

.p-header-confirm{
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-blue-color);
    margin: 30px 0 15px 0;
}

.d-content-confirm{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}