<html lang="ru"
      xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
        <link th:href="@{/css/auth.css}" href="../src/main/resources/static/css/auth.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <form class="container" method="post" th:action="@{/auth/login}">
                <p class="header">Введите данные для входа в систему</p>

                <p th:if="${hasError == true}" class="p-error">Неверный адрес почты или пароль</p>

                <input class="input-field" type="email" id="username" name="username" placeholder="Электронная почта" required>
                <input class="input-field" type="password" id="password" name="password" placeholder="Пароль" required>

                <button class="sign" type="submit">Войти</button>
            </form>

            <form class="container" action="/auth/registration">
                <input class="create-acc" type="submit" value="Создать аккаунт"/>
            </form>
        </div>
    </body>
</html>
