<html lang="ru"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href="@{/css/root.css}" rel="stylesheet">
    <link th:href="@{/css/cart.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/header.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/price.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/inventoryCardInCart.css}" rel="stylesheet">
</head>
    <body>
        <div th:replace="~{fragments/header :: fragment-header (${role})}"></div>
        <div class="d-container">
            <div class="d-title-cart">
                <p class="p-cart">Корзина</p>
            </div>
            <div th:if="${cartResponse.cartElements.size() != 0}" class="d-carts">
                <form class="form-container" method="post" th:action="@{/payment}"
                      th:object="${cartResponse}"  id="cartForm">
                    <div th:each="cartElement, iterator : *{cartElements}" class="d-cart">
                        <div class="d-input-checkbox">
                            <input type="hidden" th:field="*{cartElements[__${iterator.index}__].cart}"/>
                            <input type="hidden" th:field="*{cartElements[__${iterator.index}__].modelOfInventory}"/>
                            <input type="hidden" th:field="*{cartElements[__${iterator.index}__].attribute}"/>
                            <input type="hidden" th:field="*{cartElements[__${iterator.index}__].value}"/>
                            <input type="checkbox" name="cartElements" th:value="*{cartElements[__${iterator.index}__].cart.id}"
                                   th:field="*{cartElements[__${iterator.index}__].selected}"/>
                        </div>
                        <div th:replace="~{fragments/inventoryCardInCart :: fragment-inventoryCardInCart (${cartElement}, ${true})}"></div>
                    </div>
                    <button class="b-to-payment" type="submit">Перейти к оплате</button>
                </form>
            </div>
            <div th:if="${cartResponse.cartElements.size() == 0}" class="d-carts">
                <p class="p-empty-cart">Ваша корзина пуста</p>
            </div>
        </div>
        <script type="text/javascript" src="js/check_select_cart.js"></script>
    </body>
</html>