<div th:fragment="fragment-cart-acc-logout" class="cart_acc_logout">
    <form  class="form-login" action="/cart" method="get">
        <input class="input-cart" type="submit" name="" value="">
    </form>

    <form  class="form-login" action="/account" method="get">
        <input class="input-account" type="submit" name="" value="">
    </form>

    <form  class="form-login" action="/auth/logout" method="post">
        <input class="input-logout" type="submit" name="" value="">
    </form>
</div>

