<html lang="ru"
      xmlns:th="www.thymeleaf.org">
<body>
    <div th:fragment="fragment-header (role)" class="header">
        <div class="d-logo-and-title">
            <form  class="form-login" action="/catalog" method="get">
                <input class="input-logo" type="submit" name="" value="">
            </form>
            <h class="title">ЛЫЖНЫЙ ИНВЕНТАРЬ</h>
        </div>
        <div class="container">
            <a class="title" href="/catalog">
                КАТАЛОГ
            </a>

            <a th:if="${role.name() == 'ADMIN'}" class="title" href="/users">
                ПОЛЬЗОВАТЕЛИ
            </a>

            <form th:if="${role.name() == 'GUEST'}" class="form-login" action="/auth/login" method="get">
                <input class="input-login" type="submit" name="" value="">
            </form>

            <div th:replace="${role.name() != 'GUEST'} ? ~{fragments/cart_acc_logout :: fragment-cart-acc-logout} : ~{}"></div>
        </div>
    </div>
</body>
