<html lang="ru"
      xmlns:th="www.thymeleaf.org">
<div th:fragment="fragment-inventoryCardInCart (cartElement, isDeletable)" class="d-inventory-in-cart">
    <div class="d-image">
        <img class="img-model" th:src="@{../images/{modelTypeNameEnglish}/{imageTitle}
            (modelTypeNameEnglish=${cartElement.modelOfInventory.modelType.nameEnglish},
            imageTitle=${cartElement.modelOfInventory.imageTitle})}">
    </div>
    <div class="d-info-price-delete">
        <div class="d-info-price">
            <div class="d-info">
                <a th:href="@{/catalog/{modelTypeNameEnglish}/{id}
                    (modelTypeNameEnglish=${cartElement.modelOfInventory.modelType.nameEnglish},
                     id=${cartElement.modelOfInventory.id})}"
                   th:text="${cartElement.modelOfInventory.modelType.name} + ' ' +
                            ${cartElement.modelOfInventory.brand.name} + ' ' +
                            ${cartElement.modelOfInventory.title}"
                   class="a-header"></a>
                <p th:text="'Бренд: ' + ${cartElement.modelOfInventory.brand.name}" class="p-description"></p>
                <p th:text="'Год: ' + ${cartElement.modelOfInventory.year.name}" class="p-description"></p>
                <p th:if="${cartElement.attribute != null}"
                   th:text="${cartElement.attribute.name} + ': ' +
                            ${cartElement.value.name} + ' ' +
                            ${cartElement.attribute.unitOfMeasure.name}"
                   class="p-description"></p>
                <div class="d-quantity">
                    <p  th:text="'Количество: ' + ${cartElement.quantity}" class="p-description"></p>
                    <a th:if="${isDeletable == true}" th:href="@{/cart/remove/{cartId}(cartId=${cartElement.cart.id})}"
                       class="input-remove"></a>
                    <a th:if="${isDeletable == true}" th:href="@{/cart/add/{cartId}(cartId=${cartElement.cart.id})}"
                       class="input-add"></a>
                </div>
                <p th:if="${cartElement.isEnoughInStock == false} and ${isDeletable == true}"
                   th:text="'Количество товаров в вашей корзине: ' + ${cartElement.quantity} + '. К сожалению, на данный момент на складе в наличии только '
                   + ${cartElement.quantityInStock} + '. Для перехода к оплате удалите лишние товары.'"
                   class="p-description"></p>
            </div>
            <div th:replace="~{fragments/price :: fragment-price (${cartElement.modelOfInventory})}"></div>
        </div>
        <div th:if="${isDeletable == true}" class="d-delete">
            <a th:href="@{/cart/deleteAll/{cartId}(cartId=${cartElement.cart.id})}"
               class="a-delete-from-cart">Удалить товар из корзины</a>
        </div>
    </div>
</div>